<div class="card">
  <div class="card-body">
    <h4 class="card-title">Tasks and Time</h4>
    <table class="table table-hover">
      
      <thead>
        <tr>
          <th>Number</th>
          <th>Anything</th>
          <th>Anything</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor = "let task of tasks; let i = index">
          <td>{{i+1}}</td>
          <td>{{task.name}}</td>
          <td>{{task.time}}</td>
          <td>
            <button class="btn btn-secondary" (click)="deleteTask(task)">Finished</button>
            <button class="btn btn-success" (click)="edit(task)" >Edit</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>